{% extends 'index.html' %}
{% block messages %}
  <h3>Processed images: </h3>
  {% for image in images %}
    <img src='/get_image/{{ image }}' alt="404 error" width="20%" height="20%">
  {% endfor %}
  <form action="/flush" method="get">
    <button type="submit">Click here to clear the memory</button>
  </form>
  <form action="/download" method="get">
    <button type="submit">Download</button>
  </form>
{% endblock %}
{% block script %}
  <script>
      setInterval(() => {
          window.location.reload();
      }, 4000);
  </script>
{% endblock %}
