{% extends 'base.html' %}

{% set count = get_count() %}

{% block content %}
  <br>
{#  <br>#}
{#  <p>Showing Processed images: </p>#}
{#  {% for image in images %}#}
{#    <img src='/get_image/{{ image }}' alt="404 error" width="20%" height="20%">#}
{#  {% endfor %}#}

  <form action="/flush" method="get">
    <button type="submit">Click here to clear the memory</button>
  </form>

  <p>Processed images: {{ count }}/{{ size }}</p>

  {% if count == size %}
    <form action="/download" method="get">
      <button type="submit">Download</button>
    </form>
  {% endif %}
{% endblock %}

{% block meta %}
  {% if count == size %}

  {% else %}
    <meta http-equiv="refresh" content="3">
  {% endif %}
{% endblock %}
{#{% block script %}#}
{#  <script>#}
{#      setInterval(() => {#}
{#          window.location.reload();#}
{#      }, 60000);#}
{#  </script>#}
{#{% endblock %}#}
